.kiss {
  width: 150px;
  z-index: 3;
  opacity: 0;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5);
  top: 0;
  left: 0;
}

.animated {
  animation: kiss 1s ease-in;
}

@keyframes kiss {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
